@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;500;600;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lexend Deca", sans-serif;
  color: #2C2C2C;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  width: 100%;
}

.hero-image {
  width: 100%;
  height: 100vh;
  max-height: 653px;
  position: relative;
}

.instagram {
  background-image: url("../public/image/ig.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-weight: 800;
  font-size: 48px;
  line-height: 45px;
}

h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
}

h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
}

p {
  font-weight: 400;
  font-size: 16px;
}

section h1 {
  margin-bottom: 20px;
}
section .overview .left-overview {
  border-right: 1px solid #000000;
}
section .overview h2 {
  margin-bottom: 20px;
}
section .overview .right-overview p {
  line-height: 36px;
}
section .overview .right-overview p:not(:last-child) {
  margin-bottom: 40px;
}
section .text-image h2, section .multi-images h2 {
  margin-bottom: 50px;
}
section .text-only h1 {
  margin-bottom: 0;
  line-height: 60px;
}
section .text-only h2 {
  margin-top: 16px;
}
section .carousel-section {
  border-top: 10px solid;
  border-bottom: 10px solid;
  border-left-width: 0;
  border-right-width: 0;
  border-image: linear-gradient(to right, #4F5BD5, #962FBF, #D62976, #FA7E1E, #FEDA75) 1 stretch;
}
section .carousel-section .carousel-page {
  padding-top: 50px;
  padding-bottom: 100px;
}
section .carousel-section .carousel-page h2 {
  margin-bottom: 9px;
}
section .carousel-section .carousel-page p:not(:last-of-type) {
  margin-bottom: 21px;
}
section .carousel-section .carousel-page .carousel-text-div {
  margin-top: 50px;
}
section .carousel-section .carousel-page .carousel-image-div {
  overflow-y: scroll;
}
section .carousel-section .carousel-page .carousel-page-active {
  display: block;
}
section .carousel-section .swiper-button-next, section .carousel-section .swiper-button-prev {
  color: #E5E5E5;
  width: 81px;
  height: 81px;
  background: #292C36;
  border-radius: 50%;
}
section .carousel-section .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  background: #E5E5E5;
  opacity: 1;
}
section .carousel-section .swiper-pagination-bullet-active {
  background: linear-gradient(180deg, #4F5BD5 0%, #962FBF 24.48%, #D62976 47.92%, #FA7E1E 71.87%, #FEDA75 100%);
}
section .horizon .horizon-text {
  max-width: 345px;
  margin-right: 25px;
}
section .horizon .horizon-text h1 {
  line-height: 60px;
}
section .list-section > div {
  padding: 100px 0;
  z-index: -1;
}
section .list-section .list-text {
  margin-left: 30px;
  margin-bottom: 30px;
}
section .list-section .list-text h2, section .list-section .list-text p {
  margin: 0 100px;
}
section .list-section .list-text h2 {
  margin-bottom: 10px;
  position: relative;
}
section .list-section .list-text h2::before {
  content: "• ";
  position: absolute;
  left: -20px;
}
section .list-section .list-text p {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.addNewSection .col-text, .addNewSection .color, .addNewSection .issue, .addNewSection .description, .addNewSection .solution, .addNewSection .listTitle, .addNewSection .listParagraph {
  display: none;
}
.addNewSection .imageOnly .title, .addNewSection .imageOnly .paragraph {
  display: none;
}
.addNewSection .carousel .col-text, .addNewSection .carousel .issue, .addNewSection .carousel .description, .addNewSection .carousel .solution {
  display: block;
}
.addNewSection .list .col-text, .addNewSection .list .color, .addNewSection .list .listTitle, .addNewSection .list .listParagraph {
  display: block;
}
.addNewSection .textOnly .upload-section {
  display: none;
}
.addNewSection .upload-section .dropzone {
  max-width: 300px;
}
.addNewSection .upload-section aside {
  display: flex;
}

/*# sourceMappingURL=globals.css.map */
